.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 7vh;
    width: 100%;

    padding: 0 30px;

    background-color: #9f0807;

    box-sizing: border-box;
}

.navBrand {
    height: 100%;
    width: auto;

    margin: 0;
}

.logo {
    height: 100%;
    width: 100%;
}

.navItem {
    text-decoration: none;
    color: white;

    font-size: 2rem;
}

.navItem:hover {
    cursor: pointer;
    
}