.bubble {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130px;
    width: 130px;

    margin: 20px auto;
    padding: 10px 10px;

    background-color: #9f0807;
    color: white;

    border-radius: 50%;

    user-select: none;
}

.bubble:hover {
    cursor: pointer;
}

.bubbleTitle {
    width: 90%;

    margin: 0 auto;

    font-size: 1.2rem;
    text-align: center;
}

.content {
        display: flex;
        flex-direction: column;
        position: absolute;
    
        top: 5vh;
        left: 7.5vw;
        height: 80vh;
        width: 85vw;
    
        margin: 50px auto;
        padding: 20px;
    
        background-color: rgb(230, 230, 230);
        box-sizing: border-box;
}

.close {
    height: fit-content;
    width: fit-content;

    margin-left: auto;
    padding: 2px 13px;

    border: 1px solid gray;

    font-size: 2rem;
}

.close:hover {
    cursor: pointer;
}